abricate_out
abricate_summary
all_reads
amrfinder_out
clonalframeml_out
COMBAT_metadata.csv
COMBAT_metadata.tsv
ezclermont_out
fastp_out
fastqc_out
genomes
iqtree_out
kraken_out
list
list_strains
logs
*.aln
mlst
multiqc_out
out
prokka_out
quast_out
raw_illumina
raw_nanopore
shovill_out
slurm-*
snakemake.job
snippy-core_out
snippy_out
snp_comparisons.tsv
spades_out
summary
trimmed_illumina
trimmed_nanopore
unicycler_out
.snakemake
