abricate_out
abricate_summary
all_reads
clonalframeml_out
COMBAT_metadata.csv
ezclermont_out
fastp_out
fastqc_out
genomes
iqtree_out
kraken_out
list
list_strains
logs
mlst
multiqc_out
prokka_out
quast_out
raw_illumina
raw_nanopore
shovill_out
slurm-*
snakemake.job
snippy-core_out
snippy_out
spades_out
summary
trimmed_illumina
trimmed_nanopore
unicycler_out
.snakemake
