abricate_out
abricate_summary
all_reads
alternative_references
amrfinder_nanopore_out
amrfinder_out
clonalframeml_withoutST38_out
clonalframeml_withST38_out
COMBAT_metadata_controls.tsv
COMBAT_metadata.tsv
controls
ESBL_contigs
ESBL_contigs_annotations
ezclermont_out
ezclermont_summary_controls.tsv
ezclermont_summary.tsv
fastp_out
fastqc_out
filegraph.svg
genomes
iqtree_withoutST38_out
iqtree_withST38_out
kraken_out
list_strains_withoutST38.txt
list_strains_withST38.txt
logs
masked_withoutST38.aln
masked_withST38.aln
mlst
mlst_summary.tsv
multiqc_out
phylogroup_comparison*pdf
phylogroup_comparison*tsv
prokka_out
quast_out
raw_illumina
raw_nanopore
shovill_out
slurm-*.out
.snakemake
*.job
snippy-core_withoutST38_out
snippy-core_withST38_out
snippy_out
snp_comparison
traveler_persistence_types_withoutST38.tsv
traveler_persistence_types_withST38.tsv
trimmed_illumina
trimmed_nanopore
unicycler_out
